/* CSS BY Hayley Marcotte */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body{
    font-family: "Playfair Display", serif;
}

hr{
    border: none;
    border-top: 3px solid var(--champagne-gold);
    width: 80%;
    margin: 30px auto;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}


h2{
    font-size: 2rem;
    padding: 15px;
}

h3{
    font-size: 1.4rem;
}

header{
    background-color: var(--midnight-blue);
    color: white;
}

header img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 160px;
}

header p{
    text-align: center;
    font-style: italic;
    margin: 20px;
    font-size: 1.5rem;
}

nav{
    background-color:#E5C185;
    color:#1F2A44;
    padding: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

nav a{
    color:#1F2A44;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.welcome, .offerings, .gallery{
    padding: 40px;
}

.offerings-grid{
    display: grid;
    gap: 20px;
}

.offering{
    background-color: #76885B;
    color: white;
    border-radius: 20px;
}

.offering{
    padding: 30px;
    line-height: 1.5;
}

.offering h3{
    font-weight: bold;
}

.gallery{
    display: grid;
    gap: 20px;
}

.gallery-card {
    background-color: var(--soft-white);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.gallery-card img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-card p {
    padding: 15px;
    text-align: center;
    font-size: 1rem;
}

.gallery-button{
    color:#F8F4EC;
    background-color:#76885B;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

footer{
    background-color:#1F2A44;
    color:#F8F4EC;
    text-align: center;
    padding: 75px;
    font-size: 1.2rem;
}

/* MEDIA QUERY (medium) */
@media (min-width: 600px){
    h1{
        font-size: 4rem;
    }

    header img{
        width: 180px;
    }

    nav ul{
        gap: 5rem;
    }

    .offerings-grid{
        grid-template-columns: 1fr 1fr;
    }

    .gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}


/* MEDIA QUERY (large) */
@media (min-width: 900px){
    h1{
        font-size: 4.5rem;
    }

    header img{
        width: 200px;
    }

    .welcome,
    .offerings,
    .gallery{
        padding-left: 50px;
        padding-right: 50px;
    }

    .gallery-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* MEDIA QUERY (xl) */
@media (min-width: 1200px){
    h1{
        font-size: 5rem;
    }

    header img{
        width: 220px;
    }

    main{
        max-width: 1000px;
        margin: 0 auto;
    }

    .gallery-grid{
        grid-template-columns: repeat(5, 1fr);
    }
}